#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.pleesah_logo {
  height: 30rem;
}

.hint_container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.lenke_container {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 22px;
  margin-top: 2rem;
}

.lenke_neste {
  grid-column: 2;
  display: flex;
  justify-content: end;
}

.lenke_forrige {
  grid-column: 1;
}

pre {
  background-color: antiquewhite;
  border-radius: 0.5rem;
  padding: 1rem;
}

code {
  background-color: antiquewhite;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.1rem;
}
