name: Build and deploy
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    name: Build, push and deploy
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'
      actions: 'read'

    steps:
      - uses: actions/checkout@v6

      - name: Build and push image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: leesah-quiz
          tag: ${{ github.sha }}

      - name: Deploy to prod
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/prod.yaml
          VAR: image=${{ steps.docker-build-push.outputs.image }}